@import "./../ricecake.glob.variable";

div{
    background-color : $user-bright-color;
    color : $user-font-color;    
}

.circle{
    position: fixed;
    z-index : 10;
    width: 20%;
    height: 15%;
    border-radius: 100%;
    border-width : 0;
    box-shadow: 5px 2px 2px rgba(50,50,50,0.05);  
    
}
