@import "./../ricecake.glob.variable";

@mixin ricecake-background-frame-animation-object($name){
    
    animation-duration : 2s;
    animation-name : $name;
}

.ricecake-background-frame{
    
    position: fixed;
    width : 100%;
    height : 100%;
    background-color : $user-background-color;
    color : $user-font-color;
    
}
.spinX{
    @include ricecake-background-frame-animation-object(_spinX);
}
    
.spinY{
    @include ricecake-background-frame-animation-object(_spinY);
}

.spinZ{
    @include ricecake-background-frame-animation-object(_spinZ); 
}


@keyframes _spinX{
    0%{
        margin-left : 200%;
        opacity : 0.3;
        transform: rotateX(0deg);
    }
    100%{
        margin-left : 0%;
        opacity : 1;
        transform: rotateX(360deg);
    }
}

@keyframes _spinY{
    0%{
        margin-left : 200%;
        opacity : 0.3;
        transform: rotateY(0deg);
    }
    100%{
        margin-left : 0%;
        opacity : 1;
        transform: rotateY(360deg);
    }
}

@keyframes _spinZ{
    0%{
        margin-left : 200%;
        opacity : 0.3;
        transform: rotateZ(0deg);
    }
    100%{
        margin-left : 0%;
        opacity : 1;
        transform: rotateZ(360deg);
    }
}