@import "./../app.global.scss";


.homepage {
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button-test{
    width : 100%;
    height : 50%;
    background-color : #1E757B;
    color : #fff;
    font-size : 3vmax;
    font-weight : 800;
}

@keyframes in {
    0% {
        background-color: $g_header-color;
        height: 10%;
    }
    100% {
        background-color: #1E757B;
        height: 50%;
        border-radius: 0 0 20% 20%;
    }
}

@keyframes out {
    0% {
        background-color: #1E757B;
        height: 50%;
        border-radius: 0 0 20% 20%;
    }
    100% {
        background-color: $g_header-color;
        height: 10%;
    }
}
