aboutapplication{
    position : fixed;
    width: 100%;
    height: 100%;
    background-color : #ffffcc;
    animation-duration : 1s;
    animation-name: show-up;
}

@keyframes show-up{

    0%{
        margin-left : 300%;
        opacity : 0.3;
        transform: rotateY(0deg);
    }
    
    100%{
        margin-left: 0%;
        opacity : 1;
        transform: rotateY(360deg);
    }    
}

