//Color list
$injeolmi-font-color: #7A4355;
$injeolmi-background-color: #FFFEE2;
$injeolmi-bright: #F4DEAD;
$injeolmi-dark: #C68B6D;


//=====================================
//
// User Custom section
//
//=====================================

$user-font-color: $injeolmi-font-color;
$user-background-color: $injeolmi-background-color;
$user-bright-color: $injeolmi-bright;
$user-dark-color: $injeolmi-dark;