#helloInjeolmi{
    position: relative;
    margin : 60% auto;
    text-align: center;
    font-size : 30px;
    font-weight : 600;
}

ricecake-init{
    
   button{
       width : 100%;
       height : 30%;
       background-color : #6655ff;
       color: #efefef;
       font-size :20px;
       text-align : center;
   }
   button:hover{
       background-color: #3344ee;
       opacity : 0.6;
   }
}