
.ricecake-header {
    position : fixed;
    top: 0;
    background-color: $g_header-color;
    width: 100%;
    height: 10%;
    text-align : center;
    z-index : 50;

    span {
        position: relative;
        top : 20px;
        color: #fff;
        font-weight: 800;
        font-size: 200%;
    }
}

.ricecake-component{
    position : absolute;
    top : 10%;
    width :100%;
    overflow-y: scroll;    
}

.ricecake-nav{
    position : fixed;
    bottom : 0;
    width :100%;
}


.ricecake-header-barstyle{

    list-style-type : none;
    margin : 0;
    padding :0;
    overflow : hidden;
    color : #fff;
    font-size : 3vmax;
    font-weight : 700;

    .ricecake-header-title{
        float : left;
        font-size : 4vmax;
        margin-left : 2%;
        margin-top : 4%;
    }
    .ricecake-header-toogle{
        float : right;
        margin-right : 4%;
        margin-top : 5%;
    }
    .ricecake-header-toogle:active{
        opacity : 0.5;
    }
}

