body {
  overflow: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FDEEFF; }

.ricecake-header {
  position: fixed;
  top: 0;
  background-color: #0881A3;
  width: 100%;
  height: 10%;
  text-align: center;
  z-index: 99; }
  .ricecake-header span {
    position: relative;
    top: 20px;
    color: #fff;
    font-weight: 800;
    font-size: 200%; }

.ricecake-component {
  position: absolute;
  top: 10%;
  width: 100%;
  overflow-y: scroll; }

.ricecake-nav {
  position: fixed;
  bottom: 0;
  width: 100%; }

.page {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

@keyframes leftout {
  0% {
    margin-left: 0%;
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    margin-left: -200%; } }

@keyframes leftin {
  0% {
    margin-left: -200%;
    opacity: 0; }
  100% {
    margin-left: 0%;
    opacity: 1; } }

@keyframes rightout {
  0% {
    margin-left: 0%;
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    margin-left: 200%; } }

@keyframes rightin {
  0% {
    margin-left: 200%;
    opacity: 0; }
  100% {
    margin-left: 0%;
    opacity: 1; } }

.homepage {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.button-test {
  width: 100%;
  height: 50%;
  background-color: #1E757B;
  color: #fff;
  font-size: 3vmax;
  font-weight: 800; }

@keyframes in {
  0% {
    background-color: #0881A3;
    height: 10%; }
  100% {
    background-color: #1E757B;
    height: 50%;
    border-radius: 0 0 20% 20%; } }

@keyframes out {
  0% {
    background-color: #1E757B;
    height: 50%;
    border-radius: 0 0 20% 20%; }
  100% {
    background-color: #0881A3;
    height: 10%; } }

.ricecake-list {
  margin-top: 10%;
  padding: 0; }
  .ricecake-list li {
    color: #fff;
    background-color: #777;
    margin-top: 5%;
    left: 0;
    font-size: 3vmax;
    font-weight: 800;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: lili; }

@keyframes lili {
  0% {
    margin-left: 400%; }
  100% {
    margin-left: 0%; } }
