.page {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: pageIn; }

body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #FDEEFF; }

.ricecake-header {
  position: fixed;
  top: 0;
  background-color: #0881A3;
  width: 100%;
  height: 20%;
  max-height: 50px;
  text-align: center;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }
  .ricecake-header span {
    position: relative;
    top: 10px;
    color: #fff;
    font-weight: 800;
    font-size: 200%; }

.button-test {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1E757B;
  color: #fff;
  font-size: 3vmax;
  font-weight: 800; }

@keyframes in {
  0% {
    background-color: #0881A3;
    height: 20%;
    max-height: 50px; }
  100% {
    background-color: #1E757B;
    height: 50%;
    border-radius: 0 0 20% 20%;
    max-height: 400px; } }

@keyframes out {
  0% {
    background-color: #1E757B;
    height: 50%;
    border-radius: 0 0 20% 20%;
    max-height: 400px; }
  100% {
    background-color: #0881A3;
    height: 20%;
    max-height: 50px; } }

.ricecake-list {
  margin-top: 10%; }
  .ricecake-list ol {
    padding: 0; }
  .ricecake-list li {
    color: #fff;
    background-color: #777;
    margin-top: 5%;
    left: 0;
    font-size: 3vmax;
    font-weight: 800;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: lili; }

@keyframes lili {
  0% {
    margin-left: 400%; }
  100% {
    margin-left: 0%; } }

@keyframes pageIn {
  0% {
    margin-left: 200%; }
  100% {
    margin-left: 0%; } }

@keyframes pageOut {
  0% {
    margin-left: 0%; }
  100% {
    margin-left: 200%; } }
