/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icon.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/material-icon.woff2) format("woff2"), url(../fonts/material-icon.woff) format("woff"), url(../fonts/material-icon.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

body {
  overflow: none;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FDEEFF; }

.ricecake-header {
  position: fixed;
  top: 0;
  background-color: #0881A3;
  width: 100%;
  height: 10%;
  text-align: center;
  z-index: 50; }
  .ricecake-header span {
    position: relative;
    top: 20px;
    color: #fff;
    font-weight: 800;
    font-size: 200%; }

.ricecake-component {
  position: absolute;
  top: 10%;
  width: 100%;
  overflow-y: scroll; }

.ricecake-nav {
  position: fixed;
  bottom: 0;
  width: 100%; }

.ricecake-header-barstyle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  font-size: 3vmax;
  font-weight: 700; }
  .ricecake-header-barstyle .ricecake-header-title {
    float: left;
    font-size: 4vmax;
    margin-left: 2%;
    margin-top: 4%; }
  .ricecake-header-barstyle .ricecake-header-toogle {
    float: right;
    margin-right: 4%;
    margin-top: 5%; }
  .ricecake-header-barstyle .ricecake-header-toogle:active {
    opacity: 0.5; }

.page {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

@keyframes leftout {
  0% {
    margin-left: 0%;
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    margin-left: -200%; } }

@keyframes leftin {
  0% {
    margin-left: -200%;
    opacity: 0; }
  100% {
    margin-left: 0%;
    opacity: 1; } }

@keyframes rightout {
  0% {
    margin-left: 0%;
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    margin-left: 200%; } }

@keyframes rightin {
  0% {
    margin-left: 200%;
    opacity: 0; }
  100% {
    margin-left: 0%;
    opacity: 1; } }

.ricecake-sidemenu {
  position: fixed;
  right: 0;
  background: #f3b447;
  max-width: 70%;
  width: 100%;
  height: 100%;
  max-height: 100%;
  z-index: 99;
  overflow: none;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }
  .ricecake-sidemenu .ricecake-sidemenu-component {
    position: absolute;
    margin: 30% 0 0 5%;
    max-width: 100%; }
  .ricecake-sidemenu i {
    position: absolute;
    right: 0;
    margin-top: 10%;
    border-width: 0;
    border-radius: 100%;
    width: 10vmax;
    height: 10vmax;
    color: #fff;
    background-color: #f3b447;
    font-size: 5vmax;
    font-weight: 900; }
  .ricecake-sidemenu i:active {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: close_action_side_button; }

@keyframes sideOn {
  0% {
    opacity: 0;
    right: -200%; }
  100% {
    opacity: 1;
    right: 0; } }

@keyframes sideOff {
  0% {
    right: 0;
    opacity: 1; }
  100% {
    right: -200%;
    opacity: 0; } }

@keyframes close_action_side_button {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    transform: scale(0.5);
    opacity: 0.3; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.homepage {
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.button-test {
  width: 100%;
  height: 6vmax;
  background-color: #596371;
  color: #fff;
  font-size: 3vmax;
  font-weight: 800;
  outline: none;
  border-width: 0; }

.button-test:active {
  opacity: 0.8; }

@keyframes in {
  0% {
    background-color: #0881A3;
    height: 10%; }
  100% {
    background-color: #1E757B;
    height: 50%;
    border-radius: 0 0 20% 20%; } }

@keyframes out {
  0% {
    background-color: #1E757B;
    height: 50%;
    border-radius: 0 0 20% 20%; }
  100% {
    background-color: #0881A3;
    height: 10%; } }

.ricecake-list {
  margin-top: 10%;
  padding: 0; }
  .ricecake-list li {
    color: #fff;
    background-color: #777;
    margin-top: 5%;
    left: 0;
    font-size: 3vmax;
    font-weight: 800;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: lili; }

@keyframes lili {
  0% {
    margin-left: 400%; }
  100% {
    margin-left: 0%; } }
