#helloInjeolmi {
  position: relative;
  margin: 60% auto;
  text-align: center;
  font-size: 30px;
  font-weight: 600; }

ricecake-init button {
  width: 100%;
  height: 30%;
  background-color: #6655ff;
  color: #efefef;
  font-size: 20px;
  text-align: center; }

ricecake-init button:hover {
  background-color: #3344ee;
  opacity: 0.6; }

aboutapplication {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffcc;
  animation-duration: 1s;
  animation-name: show-up; }

@keyframes show-up {
  0% {
    margin-left: 300%;
    opacity: 0.3;
    transform: rotateY(0deg); }
  100% {
    margin-left: 0%;
    opacity: 1;
    transform: rotateY(360deg); } }

homeapplication {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ccffcc;
  animation-duration: 1s;
  animation-name: show-up; }
  homeapplication #b2 {
    background-color: #ee4432;
    margin-top: 30%; }

@keyframes show-up {
  0% {
    margin-left: 300%;
    opacity: 0.3;
    transform: rotateY(0deg); }
  100% {
    margin-left: 0%;
    opacity: 1;
    transform: rotateY(360deg); } }

nfcapplication {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ccccff;
  animation-duration: 1s;
  animation-name: show-up; }

@keyframes show-up {
  0% {
    margin-left: 300%;
    opacity: 0.3;
    transform: rotateY(0deg); }
  100% {
    margin-left: 0%;
    opacity: 1;
    transform: rotateY(360deg); } }

body {
  margin: 0; }

h1, h2, h3, h4, h5 {
  color: #7A4355; }

.ricecake-background-frame {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFEE2;
  color: #7A4355; }

.spinX {
  animation-duration: 2s;
  animation-name: _spinX; }

.spinY {
  animation-duration: 2s;
  animation-name: _spinY; }

.spinZ {
  animation-duration: 2s;
  animation-name: _spinZ; }

@keyframes _spinX {
  0% {
    margin-left: 200%;
    opacity: 0.3;
    transform: rotateX(0deg); }
  100% {
    margin-left: 0%;
    opacity: 1;
    transform: rotateX(360deg); } }

@keyframes _spinY {
  0% {
    margin-left: 200%;
    opacity: 0.3;
    transform: rotateY(0deg); }
  100% {
    margin-left: 0%;
    opacity: 1;
    transform: rotateY(360deg); } }

@keyframes _spinZ {
  0% {
    margin-left: 200%;
    opacity: 0.3;
    transform: rotateZ(0deg); }
  100% {
    margin-left: 0%;
    opacity: 1;
    transform: rotateZ(360deg); } }

div {
  background-color: #F4DEAD;
  color: #7A4355; }

.circle {
  position: fixed;
  z-index: 10;
  width: 20%;
  height: 15%;
  border-radius: 100%;
  border-width: 0;
  box-shadow: 5px 2px 2px rgba(50, 50, 50, 0.05); }
